[submodule "scripts/scene_model/submodules/simple-knn"]
	path = scripts/scene_model/submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "scripts/scene_model/submodules/diff-gaussian-rasterization"]
	path = scripts/scene_model/submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
